/.idea
/.dapper
/.cache
/.trash-cache
/bin/
/dist/
/build/
*.swp
/.bash_history
/.docker/
.vscode

# dapper
.dapper
.dapper*

# Packer and vagrant
.vagrant/
packer_cache/
*.box

# Mac
.DS_Store
*/.DS_Store
